:root {
    --color-primary: coral;
    --white: #fff
}

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    color: #333;
    display: inline-block;
    padding: 1rem;
    position: relative;
}

#navbar ul li a {
    text-decoration: none;
    color: #333;
}

/* hide nested ul by default */
#navbar ul li ul{
    display: none;
}

#navbar ul li:hover {
    cursor: pointer;
    color: var(--white);
    background: var(--color-primary);
}

#navbar ul li:hover a {
    color: var(--white);
}

/* nested dropdown show */
#navbar ul li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 1rem;
}

#navbar ul li:hover ul li {
   display: block;
   background: #e7e7e7;
}

#navbar ul li:hover ul li a {
    color: #333;
}

#navbar ul li:hover ul li:hover {
    background: #e0e0e0;
    color: inherit;
}

#navbar ul li:hover ul li span {
    float: right;
    color: var(--white);
    background: dodgerblue;
    font-weight: 600; 
    border-radius: 10px;
    padding: 0.2rem;
    text-align: center;
    font-size: 0.7rem;
}

#navbar ul li:hover ul li:hover span {
    background: chocolate;
}

/* showcase  */

#showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    align-items: center;
    background: var(--color-primary);
    text-align: center;
}

#showcase h1 {
    color: var(--white);
    font-size: 4rem;
}

/* responsive */
@media screen and (max-width: 600px) {
    #navbar ul li {
        display: block;
    }

    #navbar ul li:hover ul {
        position: relative;
        width: 100%;
    }
}